<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohammedmorsemorsefcis.owlchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/owl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/owl"
        android:supportsRtl="true">
        <activity
            android:name=".WelcomeActivityPackage.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomActivityPackage.RoomsActivity"
            android:theme="@style/MainTheme" />

        <receiver android:name=".Widget.RoomsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rooms_widget_info" />
        </receiver>

        <activity
            android:name=".ChatActivityPackage.ChatActivity"
            android:parentActivityName=".RoomActivityPackage.RoomsActivity"
            android:theme="@style/MainTheme" />
        <activity android:name=".PersonActivity.UsersActivity"
            android:parentActivityName=".RoomActivityPackage.RoomsActivity"
            android:theme="@style/MainTheme"
            ></activity>
        <service android:name=".Widget.RoomRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            ></service>
    </application>

</manifest>